<% if (htmlWebpackPlugin.options.site.enable_tracking) { %>
<script type="text/javascript">var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    _paq.push(['enableHeartBeatTimer', 10]);
    (function () {
        var u = "//tracker.leadexpress.nl/";
        _paq.push(['setTrackerUrl', u + 'piwik.php']);
        _paq.push(['setSiteId', 1019]);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = u + 'piwik.js';
        s.parentNode.insertBefore(g, s);
    })(); </script>
<noscript><p><img src="//tracker.leadexpress.nl?idsite=1019" style="border:0;" alt=""/></p>
</noscript> <!-- End LeadExpress Code -->
<% } %>
