@import "../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";
@import "variables";
@import "functions";
@import "mixins";

@include media-breakpoint-down(sm) { // <= 576px
    .navbar {
        .navbar-nav {
            .btn.btn-nav {
                width: 100%;
                margin-bottom: 10px;
            }
        }

        .input-group.input-search {
            width: auto;
        }

        .nav-item.dropdown {
            text-align: right;

            &.show {
                padding-bottom: 10px;
            }
        }
    }
}

@include media-breakpoint-up(xs) { // >= 0px

}

@include media-breakpoint-up(sm) { // >= 576px
    .message {
        width: 75%;
        min-width: 300px;
    }
}

@include media-breakpoint-up(md) { // >= 768px
    .navbar {
        &.navbar-showcase {
            background-color: transparent;
            box-shadow: none;
            margin-top: 20px;
            padding-left: 0;
            padding-right: 20px;

            #navbar {
                margin-left: 20px;
            }

            .navbar-nav {
                &.navbar-main {
                    li {
                        @include padding-x(px-to-rem(10));

                        &:first-child {
                            padding-left: 0;
                        }

                        > a {
                            color: get-color('light-grey');
                            @include padding-y(px-to-rem(8));
                            @include padding-x(0);

                            &:hover,
                            &.active,
                            &:hover.active,
                            &:focus.active,
                            &:visited.active {
                                color: get-color('light-grey');
                                border-bottom: 1px solid get-color('light-grey');
                            }
                        }
                    }
                }
            }
        }
    }

    .titlebar {
        @include padding-x(px-to-rem(40));

        .title-action {
            right: 60px;
        }

        .title-filters {
            left: 40px;

            a {
                min-width: px-to-rem(160);
            }
        }
    }

    .main-content {
        @include padding-x(px-to-rem(40));
        padding-top: px-to-rem(140);

        &.has-breadcrumbs {
            padding-top: px-to-rem(120);
        }
    }

    .dashboard {
        .card {
            padding: 32px 30px;
        }

        .notification {
            padding: 10px 15px 10px 23px;
        }
    }

    .project-page {
        .project-activity {
            min-height: 520px;
        }

        .project-details {
            min-height: 520px;
        }
    }

    .showcase {
        header {
            background-image: url('../assets/images/showcase/welcome-header.jpg');
        }

        #contact-us {
            text-align: center;

            .contact-sections {
                text-align: center;
                display: inline-block;

                .section {
                    text-align: left;
                }
            }
        }

        footer {
            text-align: center;

            .sections {
                display: inline-block;
                @include clearfix();

                .section {
                    @include clearfix();

                    &.footer-info {
                        float: left;
                        width: 270px;
                    }

                    &.latest-from-blog {
                        clear: both;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) { // >= 992px
    .navbar {
        &.navbar-showcase {
            padding-right: 40px;

            #navbar {
                margin-left: 40px;
            }

            .navbar-nav {
                a {
                    font-size: px-to-rem(16);
                }

                &.navbar-main {
                    li {
                        @include padding-x(px-to-rem(20));
                    }
                }
            }
        }
    }

    .titlebar {
        left: 120px;
        height: 130px;
        padding-top: px-to-rem(42);
    }

    .main-content {
        margin-left: px-to-rem(120);
        padding-top: px-to-rem(180);
    }

    .dashboard {
        .card {
            height: 270px;

            .card-content {
                max-height: 163px;
                overflow-y: auto;
            }
        }
    }

    .project-page {
        .project-activity {
            float: left;
            width: 72.82%; // 600/824
            max-width: 810px;
        }

        .project-details {
            float: right;
            width: 24.76%; // 204/824
            max-width: 330px;
        }
    }

    .showcase {
        #contact-us {
            text-align: center;

            form {
                margin-top: 0;
            }

            .contact-info {
                margin-bottom: 70px;
            }

            .contact-sections {
                text-align: center;
                display: inline-block;

                .section {
                    float: left;
                    text-align: left;

                    &:first-child {
                        max-width: 470px;
                        margin-right: 50px;
                    }

                    &:last-child {
                        width: 410px;
                    }
                }
            }
        }

        footer {
            .sections {
                display: inline-block;
                @include clearfix();

                .section {
                    float: left;
                    width: 270px;
                    @include clearfix();

                    &:first-child {
                        margin-right: 86px;
                    }

                    &:last-child {
                        width: auto;
                        max-width: 270px;
                    }

                    &.latest-from-blog {
                        clear: none;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) { // >= 1200px
    .titlebar {
        @include padding-x(px-to-rem(80));

        .title-action {
            right: 100px;
        }

        .title-filters {
            left: 80px;

            a {
                min-width: px-to-rem(200);
            }
        }
    }

    .main-content {
        @include padding-x(px-to-rem(80));
    }

    .dashboard {
        .card {
            padding: 32px 40px;
        }
    }

    .user-profile {
        .map {
            width: 100%;
            min-width: 620px;
        }
    }

    .user-card {
        padding: 40px 40px 20px 40px;
    }

    .project-card {
        padding: 40px 40px 20px 40px;
    }

    .project-page {
        .project-activity {
            width: 69.82%; // 810/1160
            max-width: 810px;

            .project-activity-wrapper {
                padding: 40px;
            }
        }

        .project-details {
            width: 28.45%; // 330/1160
            max-width: 330px;
            padding: 30px 40px;
        }
    }
}
