@import "../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";
@import "variables";
@import "functions";
@import "mixins";

@include media-breakpoint-down(sm) { // <= 576px
    .navbar {
        .input-group.input-search {
            width: auto;
        }

        .nav-item.dropdown {
            text-align: right;

            &.show {
                padding-bottom: 10px;
            }
        }
    }
}

@include media-breakpoint-up(xs) { // >= 0px

}

@include media-breakpoint-up(sm) { // >= 576px
    .message {
        width: 75%;
        min-width: 300px;
    }
}

@include media-breakpoint-up(md) { // >= 768px
    .titlebar {
        @include padding-x(px-to-rem(40));

        .title-action {
            right: 60px;
        }

        .title-filters {
            left: 40px;

            a {
                min-width: px-to-rem(160);
            }
        }
    }

    .main-content {
        @include padding-x(px-to-rem(40));
        padding-top: px-to-rem(140);

        &.has-breadcrumbs {
            padding-top: px-to-rem(120);
        }
    }

    .dashboard {
        .card {
            padding: 32px 30px;
        }

        .notification {
            padding: 10px 15px 10px 23px;
        }
    }

    .project-page {
        .project-activity {
            min-height: 520px;
        }

        .project-details {
            min-height: 520px;
        }
    }
}

@include media-breakpoint-up(lg) { // >= 992px
    .titlebar {
        left: 120px;
        height: 130px;
        padding-top: px-to-rem(42);
    }

    .main-content {
        margin-left: px-to-rem(120);
        padding-top: px-to-rem(180);
    }

    .dashboard {
        .card {
            height: 270px;

            .card-content {
                max-height: 163px;
                overflow-y: auto;
            }
        }
    }

    .project-page {
        .project-activity {
            float: left;
            width: 72.82%; // 600/824
            max-width: 810px;
        }

        .project-details {
            float: right;
            width: 24.76%; // 204/824
            max-width: 330px;
        }
    }
}

@include media-breakpoint-up(xl) { // >= 1200px
    .titlebar {
        @include padding-x(px-to-rem(80));

        .title-action {
            right: 100px;
        }

        .title-filters {
            left: 80px;

            a {
                min-width: px-to-rem(200);
            }
        }
    }

    .main-content {
        @include padding-x(px-to-rem(80));
    }

    .dashboard {
        .card {
            padding: 32px 40px;
        }
    }

    .user-profile {
        .map {
            width: 100%;
            min-width: 620px;
        }
    }

    .user-card {
        padding: 40px 40px 20px 40px;
    }

    .project-card {
        padding: 40px 40px 20px 40px;
    }

    .project-page {
        .project-activity {
            width: 69.82%; // 810/1160
            max-width: 810px;

            .project-activity-wrapper {
                padding: 40px;
            }
        }

        .project-details {
            width: 28.45%; // 330/1160
            max-width: 330px;
            padding: 30px 40px;
        }
    }
}
