// Variables: includes Bootstrap overrides
@import "variables";
@import "functions";
@import "mixins";

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

// Tunga styles
html {
    font-size: $font-size-base; // 16px
}

body {
    font-family: 'Fira Sans', sans-serif !important;
    font-size: $font-size-normal; // 14px
    font-weight: $font-weight-light;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background-color: get-color('lightest-grey');
    word-break: break-all;
}

i {
    vertical-align: middle;
}

// Progress

.loading {
    text-align: center;

    > img {
        height: 20px !important;
        margin: 20px auto;
    }
}

.boot-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: get-color('light-grey');

    img {
        height: 50px;
    }
}

// Typography
.font-weight-thin {
    font-weight: $font-weight-thin !important;
}

.font-weight-medium {
    font-weight: $font-weight-medium !important;
}

.showcase-title {
    font-size: px-to-rem(55);
    font-weight: $font-weight-medium;
}

.showcase-desc {
    font-size: px-to-rem(18);
    font-weight: $font-weight-light;
}

.showcase-section-title {
    font-size: px-to-rem(24);
    font-weight: $font-weight-medium;
}

.page-title {
    font-size: px-to-rem(24);
    font-weight: $font-weight-medium;
}

.page-sub-title {
    font-size: px-to-rem(16);
    color: get-color('dark-grey');
    font-weight: $font-weight-normal;
}

.pop-up-title {
    font-size: px-to-rem(16);
    font-weight: $font-weight-medium;
}

.section-title {
    font-weight: $font-weight-medium;
    margin-bottom: 20px;
}

.text {
    font-size: $font-size-normal;
    font-weight: $font-weight-light;

    &.text-lg {
        font-size: $font-size-lg;
    }

    &.text-sm {
        font-size: $font-size-sm;
    }
}

// Icon sizes
.tunga-ic-sz-topbar {
    font-size: px-to-rem(30);
}

.tunga-ic-sz-navbar {
    font-size: px-to-rem(15);
}

.tunga-ic-sz-sidebar {
    font-size: px-to-rem(30);
}

.tunga-ic-sz-sm,
.tunga-ic-sz-main-sm {
    font-size: px-to-rem(15);
}

.tunga-ic-sz-icon,
.tunga-ic-sz-main {
    font-size: px-to-rem(20);
}

.tunga-ic-sz-md,
.tunga-ic-sz-main-md {
    font-size: px-to-rem(30);
}

.tunga-ic-sz-lg,
.tunga-ic-sz-main-lg {
    font-size: px-to-rem(40);
}

.tunga-ic-sz-xl,
.tunga-ic-sz-main-xl,
.tunga-ic-sz-main-xlg {
    font-size: px-to-rem(75);
}

.tunga-ic-sz-webfunnel {
    font-size: px-to-rem(25);
}

.tunga-ic-sz-card {
    font-size: px-to-rem(10);
}

// Buttons
.btn {
    font-size: $font-size-sm;
    @include padding-y(0 !important);
    line-height: px-to-rem(40);
    height: px-to-rem(40);

    &.btn-sm {
        line-height: px-to-rem(30);
        height: px-to-rem(30);
    }

    &.btn-lg {
        font-size: $font-size-normal;
        line-height: px-to-rem(50);
        height: px-to-rem(50);
    }

    &.btn-xl {
        font-size: $font-size-lg;
        line-height: px-to-rem(60);
        height: px-to-rem(60);
        border-radius: $border-radius-lg;
    }

    &.btn-xxl {
        font-size: $font-size-xl;
        line-height: px-to-rem(70);
        height: px-to-rem(70);
        border-radius: $border-radius-lg;
    }
}

.btn-skill {
    @include button-variant($brand-color, $brand-color);
    @include button-size(0, $input-btn-padding-x-sm, $font-size-sm, px-to-rem(30), $btn-border-radius-sm);
    min-width: 77px;
    height: 30px;
    margin-right: 4px;
    margin-bottom: 4px;
    box-shadow: 2px 2px 2px 0 rgba(68, 68, 68, 0.44);
}

.btn-icon {
    color: $brand-color;
    background-color: transparent;
    @include button-size(0, 0, $font-size-normal, $line-height-base, 0);

    &:focus {
        box-shadow: none;
    }
}

.btn-choice {
    color: get-color('black');
    background-color: transparent;
    @include padding-x(px-to-rem(12));
    border-bottom: 2px #e1e1e1 solid;
    border-radius: 0;
    box-shadow: none;

    &.active {
        border-bottom-color: $brand-color;
        box-shadow: none;
    }
}

.btn-card, .btn-dotted-card {
    color: get-color('black');
    background-color: transparent;
    @include padding(px-to-rem(30));
    border: 1px #e1e1e1 solid;
    border-radius: 0;
    box-shadow: none;

    &.active {
        border-color: $brand-color;
        box-shadow: none;
    }
}

.btn-dotted-card {
    border-style: dashed;
}

.btn-group {
    &.choice-group {
        .btn {
            box-shadow: none !important;

            &.btn-choice {
                margin-right: px-to-rem(10);
            }

            &.btn-card, &.btn-dotted-card {
                min-width: 130px;
                min-height: 130px;
                margin-right: px-to-rem(20);

                .icon {
                    display: block;
                    margin-top: 17px;
                }
            }
        }
    }
}

// Input
.form-control {
    font-size: $font-size-sm;
    height: px-to-rem(40);

    &.form-control-sm {
        height: px-to-rem(30);
    }

    &.form-control-lg {
        font-size: $font-size-normal;
        height: px-to-rem(50);
    }
}

.input-group {
    border-radius: $input-border-radius;
    box-shadow: $input-box-shadow;

    &.state-focus {
        box-shadow: 0 0 0 .2rem rgba(0, 158, 255, 0.3);
    }

    .input-group-text {
        @include padding(px-to-rem(12));
    }

    .form-control {
        box-shadow: none;

        &:first-child {
            padding-right: px-to-rem(6);
        }

        &:last-child {
            padding-left: px-to-rem(6);
        }
    }

    .btn {
        @include padding-y(px-to-rem(6));
        background-color: $input-bg;
        box-shadow: none;
    }

    &.input-search {
        max-width: 220px;
        box-shadow: none;

        &.state-focus {
            box-shadow: none;
        }

        &.input-search-branded {
            .input-group-text, .form-control {
                background-color: rgba(206, 19, 79, 0.9);
                color: get-color('white');
            }
        }

        .input-group-text, .form-control {
            @include padding-y(px-to-rem(3));
        }

        .input-group-text {
            @include padding-x(px-to-rem(9));
            @include border-left-radius(px-to-rem(15));
        }

        .form-control {
            @include padding-x(px-to-rem(6));
            @include border-right-radius(px-to-rem(15));
            box-shadow: none;
            height: px-to-rem(30);

            &::placeholder {
                color: #ccc;
            }

            &:focus {
                box-shadow: none;
            }
        }
    }
}

// Avatar
.avatar-wrapper {
    position: relative;
    display: inline-block;
    margin-right: 5px;

    .badge {
        position: absolute;
        top: -2px;
        right: -2px;
    }

    .verified {
        position: absolute;
        top: -2px;
        right: -2px;
        color: get-color('green');
    }

    .remove {
        position: absolute;
        top: -6px;
        right: -4px;
        color: get-color('black');
        height: auto;
        line-height: 1.5;
    }
}

.avatar {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
    }

    &.avatar-icon {
        font-size: 40px;
        text-align: center;
        color: $brand-color;
        background-color: get-color('white');
        vertical-align: middle;

        > i, > span {
            display: block;
        }
    }

    &.avatar-xs {
        width: 20px;
        height: 20px;

        &.avatar-icon {
            font-size: 20px;
        }
    }

    &.avatar-sm {
        width: 30px;
        height: 30px;

        &.avatar-icon {
            font-size: 30px;
        }
    }

    &.avatar-md {
        width: 60px;
        height: 60px;

        &.avatar-icon {
            font-size: 60px;
        }
    }

    &.avatar-lg {
        width: 80px;
        height: 80px;

        &.avatar-icon {
            font-size: 80px;
        }
    }

    &.avatar-xl {
        width: 100px;
        height: 100px;

        &.avatar-icon {
            font-size: 100px;
        }
    }

    &.avatar-xxl {
        width: 120px;
        height: 120px;

        &.avatar-icon {
            font-size: 120px;
        }
    }
}

// Badge
.badge {
    color: $brand-color;
    background-color: get-color('white');
    border: 1px $brand-color solid;
    border-radius: 50%;
}

// React Widgets
.rw-widget {
    border-radius: 5px;
    border-width: 0 !important;
    box-shadow: $input-box-shadow;

    &.rw-state-focus {
        box-shadow: 0 0 0 .2rem rgba(0, 158, 255, 0.3) !important;
    }

    input {
        background-color: get-color('light-grey');
        height: 40px;
    }

    > .rw-select {
        background-color: get-color('light-grey');
        border-width: 0;
    }
}

.rw-datetimepicker {
    > .rw-select {
        border-radius: 0 5px 5px 0;
    }
}

.rw-calendar {
    margin: 10px auto 0;
    max-width: 500px;

    .rw-calendar-grid {
        th {
            text-align: center;
        }
    }

    .rw-header .rw-btn-view {
        background-color: get-color('light-grey');
    }

    .rw-btn {
        &:hover,
        &:focus,
        &:active {
            color: $brand-color;
            background-color: get-color('white') !important;
            border-color: $brand-color;
        }

        &.rw-state-selected,
        &.rw-state-selected:hover,
        &.rw-state-selected:active,
        &.rw-state-selected:focus {
            color: get-color('white');
            background-color: $brand-color !important;
            border-color: $brand-color;
        }
    }

    .rw-empty-cell {
        height: 36px;
        background-color: get-color('white');
    }
}

// Uploads
.upload-input {
    .dropzone {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        min-height: 130px;
        border: 2px dashed get-color('dark-grey');
        padding: 20px;
        margin: 5px auto 10px;
        border-radius: 8px;
        cursor: pointer;

        &.hidden {
            display: none;
        }

        &:hover {
            border-color: get-color('blue');
        }

        > * {
            width: 100%;
            text-align: center;
        }

        img {
            max-width: 100%;
            max-height: 300px;
        }

        .filename {
            font-weight: $font-weight-normal;
            margin: 5px auto;
        }

        .help {
            margin-top: 10px;
        }
    }
}

.file-list {
    margin-bottom: 5px;

    .file-item {
        position: relative;
        display: inline-block;
        padding: 5px 25px 5px 10px;
        margin-right: 10px;
        margin-bottom: 5px;
        background-color: get-color('light-grey');
        border-radius: 6px;

        .btn {
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: px-to-rem(9);
            line-height: 1.5;
            height: auto;
            background-color: transparent;
            padding: 0 2px;
            margin-left: 5px;

            &:hover, &:focus, &:active {
                color: $brand-color;
                outline: none;
            }
        }
    }

    &.readonly {
        .file-item {
            background-color: transparent;
            padding: 0;

            .btn {
                display: none;
            }
        }
    }
}

// Tags
.tag-input {
    position: relative;

    .selected {
        @include clearfix();

        .selected-item {
            float: left;
            display: inline-block;
            padding: 5px 5px 5px 10px;
            margin: 5px 2px 5px 0;
            border-radius: 5px;
            background-color: get-color('white');
            border: 1px solid rgba(0, 0, 0, 0.125);

            &.dark-user-block {
                float: none;
                display: block;
                color: get-color('white');
                background-color: get-color('dark-grey');
                @include padding-y(px-to-rem(8.5));
                margin: 10px 0 0;
                border-radius: 2px;
            }

            .avatar {
                margin-right: 5px;
            }

            .close {
                margin-left: 8px;
                font-size: px-to-rem(8);
                line-height: px-to-rem(8);

                &:hover, &:focus, &:active {
                    color: $brand-color;
                    outline: none;
                    opacity: 1;
                    text-shadow: none;
                }
            }

            a {
                cursor: pointer;
            }
        }
    }

    .suggestions {
        position: absolute;
        width: 100%;
        z-index: 1000;

        a {
            color: $brand-color;
            cursor: pointer;

            &:hover, &:focus {
                color: get-color('white');
                background-color: $brand-color;
            }
        }
    }
}

// Alerts
.error {
    color: get-color('red');
}

.success {
    text-align: center;
    margin: 5px auto;

    .success-icon {
        display: block;
        color: get-color('green');
        margin-bottom: 5px;
    }
}

.green {
    color: get-color('green');
}

.orange {
    color: get-color('orange');
}

.red {
    color: get-color('red');
}

// Modals
.modal-dialog {
    display: flex;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;

    &.modal-alert,
    &.modal-confirm,
    &.modal-prompt {
        max-width: 360px;
    }

    &.modal-upload {
        max-width: 380px;
    }

    .modal-content {
        border-radius: 0;

        > * {
            @include padding-x(40px);

            &:first-child {
                padding-top: 40px;
            }

            &:last-child {
                padding-bottom: 40px;
            }
        }
    }

    .modal-header {
        padding-bottom: 0;
        border-bottom-width: 0;

        .close {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: px-to-rem(40);
            line-height: px-to-rem(20);
            padding: 0;
            margin: 0;
        }
    }

    .modal-footer {
        padding-top: 0;
        border-top-width: 0;
    }
}

// Navbar
.navbar {
    @include padding-y(0);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

    .navbar-brand {
        color: get-color('white');
        margin: 0;
        padding: 0;

        img {
            height: 50px;
        }
    }

    .navbar-nav {
        .input-search {
            @include padding-y(px-to-rem(10));
        }

        > li {
            > a {
                color: get-color('white');
                background-color: $brand-color;
                line-height: 50px;
                @include padding-x(px-to-rem(10));

                &:hover, &:focus {
                    text-decoration: none;
                }

                .caret {
                    margin-left: 5px;
                }
            }

            .dropdown-menu {
                min-width: 190px;
                left: auto;
                right: 0;
                margin-top: 0;
                @include padding-y(0);
                box-shadow: 0 2px 4px 0 rgba(204, 204, 204, 0.5);

                &.dropdown-menu-account {
                    min-width: 100px;

                    > li > a,
                    > li > a:hover,
                    > li > a:active {
                        color: get-color('black');
                        @include padding-y(px-to-rem(10));
                        @include padding-x(px-to-rem(14));

                        &:hover, &:focus {
                            color: $brand-color;
                            background-color: get-color('white');
                        }
                    }
                }

                > li > a,
                > li > a:hover,
                > li > a:active {
                    display: block;
                    color: $brand-color;
                    @include padding-y(px-to-rem(5));
                    @include padding-x(px-to-rem(10));

                    &:hover, &:focus {
                        text-decoration: none;
                        color: get-color('white');
                        background-color: $brand-color;
                    }
                }
            }
        }
    }
}

// Sidebar
.sidebar {
    position: fixed;
    width: 120px;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    text-align: center;
    @include padding-y(px-to-rem(30));
    @include padding-x(px-to-rem(20));
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: get-color('black');
    box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.5);

    ul {
        li {
            display: block;
            margin: 0 auto px-to-rem(40);

            a {
                display: block;
                color: get-color('white');

                &:hover, &:focus {
                    text-decoration: none;
                    color: get-color('dark-grey');
                }

                &.active {
                    color: $brand-color;
                }

                span {
                    display: block;
                    margin-top: px-to-rem(12);
                }
            }
        }
    }
}

// Titlebar
.titlebar {
    /*display: flex;
    align-items: flex-end;*/
    position: fixed;
    z-index: 1020;
    top: 50px;
    left: 120px;
    right: 0;
    height: 130px;
    background-color: get-color('white');
    @include padding-x(px-to-rem(80));
    padding-top: px-to-rem(42);
    box-shadow: 0 2px 4px 0 rgba(204, 204, 204, 0.5);

    .title-action {
        position: absolute;
        top: 42px;
        right: 100px;
    }

    .title-filters {
        position: absolute;
        left: 80px;
        bottom: -3px;

        a {
            display: inline-block;
            font-weight: $font-weight-normal;
            text-align: center;
            color: get-color('black');
            padding-bottom: px-to-rem(8);
            min-width: px-to-rem(130);

            &.active {
                border-bottom: 3px $brand-color solid;
            }

            &:hover, &:focus {
                text-decoration: none;
            }
        }
    }
}

// Main Content
.main-content {
    margin-top: px-to-rem(180);
    margin-left: px-to-rem(120);
    @include padding-x(px-to-rem(80));
    padding-top: px-to-rem(40);
}

// Cards
.card-list, .row.card-list {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 20px;
    }
}

.onboard-card {
    max-width: 660px;
    min-height: 430px;
    margin: 40px auto;
    box-shadow: 0 2px 2px 0 rgba(204, 204, 204, 0.5);
    border: solid 1px #ececec;

    .onboard-title {
        padding: 30px 40px;
        box-shadow: 0 2px 2px 0 rgba(204, 204, 204, 0.5);
        text-align: center;
        font-weight: bold;
    }

    .onboard-content {
        padding: 40px;

        .onboard-intro {
            text-align: center;
            margin-top: 90px;
        }

        .onboard-action {
            color: get-color('black');
            background-color: get-color('lightest-grey');
            border: 0;
            cursor: pointer;
        }

        .onboard-finish-icon {
            color: #40bb56;
        }

        .onboard-finish-button {
            margin-top: 50px;
        }

        .col-main {
            max-width: 370px;
        }

        .col-side {
            max-width: 154px;
        }

        .col-avatar {
            max-width: 230px;

            .dropzone {
                min-height: 200px;
                border-radius: 6px;
            }
        }
    }
}

.content-card {
    background-color: get-color('white');
    min-height: 560px;
    padding: 40px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.11);
    border: solid 1px #ececec;

    &.settings-card {
        max-width: 760px;
    }

    &.project-form-card {
        max-width: 920px;
        min-height: 540px;

        .form-group {
            padding-bottom: 20px;
        }
    }
}

.user-card {
    @include card-link(get-color('black'));

    height: 400px;
    background-color: get-color('white');
    padding: 40px 40px 20px 40px;
    border: solid 1px #ececec;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.21);

    .basic-profile {
        text-align: center;
        margin-bottom: 10px;
        height: 130px;

        .avatar-wrapper {
            margin-bottom: 10px;
        }
    }

    .bio {
        height: 72px;
        margin-bottom: 20px;
    }

    .skills {
        height: 65px;
        margin-bottom: 20px;
    }
}

.project-card {
    @include card-link(get-color('black'));
    position: relative;
    height: 140px;
    background-color: get-color('white');
    padding: 40px 40px 20px 40px;
    border: solid 1px #ececec;
    box-shadow: 0 2px 4px 0 rgba(204, 204, 204, 0.5);

    .status-icon {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

// Settings section
.settings-container {
    form {
        .col-sm-8, .col-md-8 {
            max-width: 430px;
        }

        .col-sm-4, .col-md-4 {
            padding-left: 25px;
            max-width: 200px;
        }

        &.update-password-form {
            .col-input {
                min-width: 270px;
            }
        }

        .btn {
            min-width: 120px;
        }
    }
}

.privacy-settings {
    .section {
        margin-bottom: 20px;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }
}

.account-settings {
    form {
        margin-bottom: 20px;
    }
}

.work-education-wrapper {
    background-color: #888888;
    border: 1px solid #979797;
    color: #ffffff;
    margin-bottom: 20px;

    .btn {
        min-width: 0 !important;
    }
}

// Project Page1
.project-page {

    .project-activity {
        width: 65.52%;
        max-width: 760px;
        min-height: 560px;
        background-color: get-color('white');
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.11);

        .project-activity-wrapper {
            position: relative;
            padding: 40px;

            .activity-filter {
                position: absolute;
                top: 15px;
                left: 15px;

                .btn-filter {
                    color: get-color('black');
                    height: auto;
                    line-height: 1.5;
                    margin: 0 30px 0 0;
                }

                .switches {
                    display: none;
                    float: left;

                    > * {
                        margin-right: 15px;
                        float: left;
                    }

                    .switch {
                        margin-right: 5px;

                        .btn {
                            height: auto;
                            line-height: 1.5;

                            &.on {
                                color: $brand-color;
                            }

                            &.off {
                                color: get-color('black');
                            }
                        }
                    }
                }

                &.open {
                    .btn-filter {
                        color: $brand-color;
                        outline-width: 0;
                    }

                    .switches {
                        display: block;
                    }
                }
            }

            .activity-list {
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .project-docs {
                .file-list {
                    .file-item {
                        display: inline-block;
                    }
                }
            }
        }

        .section {
            margin-bottom: 20px;
        }
    }

    .project-details {
        width: 32.76%;
        max-width: 380px;
        min-height: 560px;
        padding: 30px 40px;
        background-color: get-color('white');
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.11);

        .project-title {
            text-transform: capitalize;
        }

        h6 {
            padding-bottom: 10px;
        }

        .section {
            margin-bottom: 20px;
        }

        .avatar-wrapper {
            margin-top: 8px;
            margin-right: 10px;
        }
    }

    .project-filters {
        border-bottom: solid 1px #dbdbdb;

        a {
            position: relative;
            bottom: -3px;
            display: inline-block;
            color: get-color('black');
            font-weight: $font-weight-normal;
            text-align: center;
            padding: px-to-rem(20);
            min-width: px-to-rem(120);

            &.active {
                border-bottom: 3px $brand-color solid;
            }

            &:hover, &:focus {
                text-decoration: none;
            }
        }
    }

    .project-settings {
        .developers-list {
            .developer {
                margin-bottom: 10px;
            }

            .avatar-wrapper {
                margin-right: 18px;
            }

            .choice-group {
                margin-left: 80px;
            }
        }
    }
}

.integration-options {
    display: block;
    list-style: none;
    padding: 0;
    line-height: 1;

    li {
        float: left;
        margin: 2px;

        a {
            display: block;
            color: get-color('black');
            background-color: get-color('light-grey');
            border: 1px solid get-color('light-grey');
            padding: 8px 12px;
            text-decoration: none;
            border-radius: 5px;
            font-size: px-to-rem(28);
        }

        a:hover,
        a:focus,
        a.active {
            color: $brand-color !important;
            border-color: $brand-color;
            background-color: get-color('white');
        }
    }
}

// Network
.user-profile {
    position: relative;
    max-width: 960px;
    margin: 0 auto;

    .back-link {
        position: absolute;
        top: 0;
        left: 0;
    }

    .basic-profile {
        text-align: center;
        margin-bottom: 20px;
    }

    .profile-card {
        padding: 30px;
        background-color: get-color('white');
        min-height: 370px;
        margin-bottom: 20px;
        box-shadow: 0 2px 4px 0 rgba(86, 86, 86, 0.31);

        &.map-side {
            min-height: 272px;
        }

        .section-title {
            margin-bottom: 16px;
        }

        .info-block {
            margin-bottom: 10px;
        }

        .info-header {
            color: get-color('pink');
            font-weight: $font-weight-normal;
        }

        .info-title {
            font-weight: $font-weight-normal;
        }

        .period {
            color: get-color('dark-grey');
        }
    }

    .map {
        width: 100%;
        min-width: 620px;
        min-height: 272px;
        background-color: get-color('white');
        padding: 0;
        box-shadow: 0 2px 4px 0 rgba(86, 86, 86, 0.31);
    }

    .btn-skill {
        box-shadow: none;
    }

    .profile-details {
        > .col,
        > [class*="col-"] {
            padding-right: 10px;
            padding-left: 10px;
        }
    }
}


// Messages
.message-widget {
    .col-add-docs {
        max-width: 50px;
        padding-right: 10px;
    }
}

.activity-list {
    overflow-x: hidden;
    overflow-y: auto;
    height: 350px;

    .activity-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        min-height: 100%;
    }
}

.message {
    margin: 5px 0;
    width: 75%;
    min-width: 300px;

    &.new {
        font-weight: 400;
    }

    .media-left,
    .media-right {
        min-width: 50px;

        .avatar {
            width: 40px;
            height: 40px;
        }

        .avatar.avatar-icon {
            font-size: 40px;
        }
    }

    .media-right {
        text-align: right;

        .avatar-wrapper {
            margin-right: 0;
        }
    }

    .media-body {
        background-color: get-color('light-grey');
        border-radius: 5px;
    }

    .username {
        color: $brand-color;
    }

    time,
    .time {
        color: get-color('dark-grey');
    }

    .sub-message,
    .body {
        padding: 5px 15px;
    }

    .sub-thread {
        padding: 5px 15px;
        border-width: 5px 0;
        border-color: #fff;
        border-style: solid;
    }

    .sub-thread + .sub-thread {
        border-top-width: 0;
    }

    .sub-thread:last-child {
        border-bottom-width: 0;
    }

    .progress {
        margin: 5px auto;
    }

    p {
        margin-bottom: 5px;
    }
}


label {
    font-weight: $font-weight-normal;
}

textarea {
    min-height: 100px;
}

.documents-row-bottom-margin{
    margin-bottom: 15px;
}

.project-team {
    .add-button {
        margin-top: 60px;
    }
}

.project-team-member-icon-button {
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin-right: 10px;
}

.delete-project-member-modal {
    margin-bottom: 40px;
}

.project-member {
    margin-bottom: 20px;

    .avatar-wrapper {
        margin-right: 10px;
    }

    .font-weight-normal {
        margin-bottom: 20px;
    }
}

@import "breakpoints";
